<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>VENP - Votacion Electronica No Presencial</display-name>
 <!-- 
 <filter>
  <description>Filtra los request que no esten en sesion</description>
  <display-name>SessionFilter</display-name>
  <filter-name>SessionFilter</filter-name>
  <filter-class>venp.filters.SessionFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>SessionFilter</filter-name>
  <servlet-name>action</servlet-name>
 </filter-mapping>
  -->
 <listener>
  <listener-class>venp.listener.SessionVotantesListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>2</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>intro.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/WebContent/errores.jsp</location>
 </error-page>
 <jsp-config>
  <taglib>
   <taglib-uri>struts-html</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-bean</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-logic</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-nested</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>struts-tiles</taglib-uri>
   <taglib-location>/WEB-INF/tlds/struts-tiles.tld</taglib-location>
  </taglib>
 </jsp-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
