.tborder2 {
}

.errorMessage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #771B0C;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 5px 3px 5px 3px;
	border: 1px solid #771B0C;
	background: #E7C5BC;
	line-height: 18px;
	width: 420px;
	text-align: center;
	vertical-align: middle;
}

.alt03 {text-align: left;
	
}

.div1 {
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial;
	text-align: center;
	color: white;
}

.tborder {
	border-right: #333 1px solid;
	border-top: #333 1px solid;
	border-bottom: #333 1px solid;
	border-left: #333 1px solid;
	font: 10pt Tahoma, Verdana, Arial;
	background: #999999;
	text-align: left;
	width: 100%;
}

.alt01 {
	background: #eaf0e8;
}

.alt04 {
	background: #eaf0e8;
}

.alt02 {
	background: #eaf0e8;
	margin: 0px 0px 0px 0px;
}

.alt05 {
	background: #eaf0e8;
	color: #000000;
}

.alt10 {
	background: #195093;
	width: 50%;
}

.div12 {
	padding: 1px;
	text-align: left;
	position: absolute;
	top: 8px;
	left: 30px;
}

.div2 {
	position: absolute;
	top: 10px;
	left: 60px;
}

.text {
	color: white;
	border-right: white 1px solid;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	border-left: white 1px solid;
	position: relative;
	width: 100%;
}

.td3 {
	width: 100%;
	position: relative;
}

.td26 { vertical-align: middle; text-align: center;
	font: 14px Tahoma, Verdana, Arial;
}

.td25 {vertical-align: middle;
	text-align: center;
	font: 16px Tahoma, Verdana, Arial;
}

.sendBtn {
	position: relative;
	width: 155px;
	height: 37px;
	background: url(../../media/btn_gris.jpg) no-repeat 42% 50%;
	text-align: center;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #000000;
	text-decoration: none;
	display: block;
}

.sendBtn div {
	position: absolute;
	left: 10px;
	width: 140px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.tableParent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 700px;
}

.tableSinConcluir {
	background: #F8F8F8;
	border: 2px #999999 solid;
	color: #000;
	text-align: center;
	vertical-align: middle;
	height: 50px;
	width: 600px;
}

.tableConcluido {
	background: #F8F8F8;
	border: 2px #999999 solid;
	color: #000;
	text-align: center;
	vertical-align: middle;
	width: 600px;
}

.tableResultado {
	background: #F8F8F8;
	color: #000;
	text-align: center;
	vertical-align: middle;
	width: 600px;
}

.rowHead {
  background:#4B4B4B;
  border: 1px #999999 solid;
  height: 30px;
  color: #FFFFFF;
  font-family:Verdana;
  font-size: 11px;
  font-weight: bold;
}

.rowData {
  background:#ffffff;
  border: 1px #999999 solid;
  height: 30px;
  color: #000000;
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
}