.thead { background: #4b4b4b;
         font: bold 11px tahoma, verdana, arial;
         color: #ffffff;
       }

.alt01 { background: #f8f8f8;
         color: #000000;
       }

.alt02 { background: #eaf0e8;
         color: #000000;
       }

.tborder { border-right: #333 1px solid;
           border-top: #333 1px solid;
           border-bottom: #333 1px solid;
           border-left: #333 1px solid;
           font: 10pt Tahoma, Verdana, Arial;
           background: #999999;
           color: #000000;
         }
 
 .btnAny { position: relative;
           width: 155px;
           height: 37px;
           background: url(../../media/btn_gris.jpg) no-repeat 42% 50%;
           text-align: center;
           cursor: pointer;
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px;
           color: #000000;
           text-decoration: none;
           display: block;
         }

.btnAny div { position: absolute;
              left: 10px;
              width: 140px;
              font-family: Verdana, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: bold;
              text-align: center;
            }
.text{ 
	COLOR: #fff;
}

.sendBtn {
	position: relative;
	width: 155px;
	height: 37px;
	background: url(../../media/btn_gris.jpg) no-repeat 42% 50%;
	text-align: center;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #000000;
	text-decoration: none;
	display: block;
}

.sendBtn div {
	position: absolute;
	left: 10px;
	width: 140px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}