.tablaPrincipal {border ="0";cellspacing ="0";cellpadding ="0";
	
}

.td0 {width ="800";align ="center";valign ="top";
	
}

.td1 {colspan ="2";height ="20";
	
}

.td2 {colspan ="2";height ="40";
	
}

.td4 {width ="800";align ="center"
	
}

.interTabla {width ="800";
	background-color: white;
	border-right: #333 1px solid;
	border-top: #333 1px solid;
	border-bottom: #333 1px solid;
	border-left: #333 1px solid;
	font: 10pt Verdana, Tahoma, Arial;
	color: #000000;
	border
	="0";
}

.partido {
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	align
	="center";
}

.candidato {
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}

.resultado {
	font-weight: bold;
	font-size: 30pt;
	color: #0099CC;
	align
	="center";
	valign
	="middle";
	align
	="center";
}

.porcentaje {
	font-weight: bold;
	font-size: 30pt;
	color: #0099CC;
	align
	="center";
	valign
	="middle";
	align
	="center";
}

.sendBtn {
	position: relative;
	width: 155px;
	height: 37px;
	background: url(../../media/btn_gris.jpg) no-repeat 42% 50%;
	text-align: center;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #000000;
	text-decoration: none;
	display: block;
}

.sendBtn div {
	position: absolute;
	left: 10px;
	width: 140px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

.imagen1 {width ="84";height ="84";border ="3";
	
}

.imagen2 {width ="84";height ="84";border ="0";
	
}

.centro {
	text-align: "center";
}